* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.content {
   display: flex;
   margin: auto;
}

.rTable {
   width: 100%;
   text-align: center;
}

.rTable thead {
   background: black;
   font-weight: bold;
   color: white;
}

.rTable tbody tr:nth-child(2n) {
   background: #ccc;
}

.rTable th,
.rTable td {
   padding: 7px;
}

@media screen and (max-width: 480px) {
   .content {
      width: 94%;
   }

   .rTable thead {
      display: none;
   }

   .rTable tbody td {
      display: flex;
      flex-direction: column;
   }

}

@media only screen and (min-widht: 1200px) {
   .content {
      width: 100%;
   }

   .rTable tbody tr td:nth-child(1) {
      width: 10%;
   }

   .rTable tbody tr td:nth-child(1) {
      width: 30%;
   }

   .rTable tbody tr td:nth-child(1) {
      width: 20%;
   }

   .rTable tbody tr td:nth-child(1) {
      width: 25%;
   }

   .rTable tbody tr td:nth-child(1) {
      width: 15%;
   }
}

img {
   border-radius: 0%;
   align-items: flex-center;
}

.centro {
   background-color: red;
   width: 300px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;

}